@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary-base: oklch(0.55 0.24487447363678977 266.68112805248813);
  --color-primary-darker: oklch(0.4707 0.2134 266.52);
  --color-primary-darkest: oklch(0.45 0.2134 266.52);
  --color-primary-light: oklch(0.9592 0.01925307803944879 273.2377448835341);
  --color-error-base: oklch(64.71% 0.2288 22.47);
  --color-error-dark: oklch(55.6% 0.2038 23.58);
  --color-error-light: oklch(95.66% 0.021908202400530506 10.598716013236197);
  --color-facebook: oklch(53.64% 0.2049 258.76);
  --shadow-regular-xs: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --color-blur-effect: #02090d3d;
}

.text-sm {
  font-size: 0.82rem;
  line-height: 1.25rem;
  letter-spacing: -0.006em;
  font-weight: 500;
}
.text-sm {
  line-height: 1.25rem;
  letter-spacing: -0.006em;
}

.text-paragraph-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0;
}

.dark {
  --color-blur-effect: #535b6452 !important;
}